{% extends 'bootstrap.html.twig' %}
{% block title %}Log in!{% endblock %}
{% block body %}
<div class="back">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal text-center text-danger"> CONNEXION </h1>
    <label for="inputUsername"> Nom d'utilisateur </label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
    <label for="inputPassword"> Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<br>
    <button class="btn btn-lg btn-block btn-danger" type="submit">
       connexion
    </button>
</form>
</div>
{% endblock %}
