{% extends 'base.html.twig' %}

{% block title %}Astuces index{% endblock %}

{% block body %}
    <h1>Astuces index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for astuce in astuces %}
            <tr>
                <td>{{ astuce.id }}</td>
                <td>{{ astuce.nom }}</td>
                <td>{{ astuce.description }}</td>
                <td><img src ="{{ asset('uploads/images/' ~ astuce.image)}}" alt="" style="width:80px; height:80px"/></td>

                <td>
                    <a href="{{ path('astuces_show', {'id': astuce.id}) }}">show</a>
                    <a href="{{ path('astuces_edit', {'id': astuce.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('astuces_new') }}">Create new</a>
{% endblock %}
