{% extends 'base.html.twig' %}

{% block title %}New Recettes{% endblock %}

{% block body %}
<div class="container">
<div class="row">
<div class="col-8">

    <h1>Create new Recettes</h1>

    {{ include('recettes/_form.html.twig') }}

    <a href="{{ path('recettes_index') }}">back to list</a>
    </div></div></div>
{% endblock %}
