{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Recettes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recette.nom }}</td>
            </tr>
            <tr>
                <th>Ingredients</th>
                <td><textarea id="w3mission" rows="4" cols="50"> {{ recette.ingredients }}
</textarea></td>
            </tr>
            <tr>
                <th>Preparations</th>
                <td>{{ recette.preparations }}</td>
            </tr>
         
        </tbody>
    </table>

    <a href="{{ path('recettes_index') }}">back to list</a>

    <a href="{{ path('recettes_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recettes/_delete_form.html.twig') }}
{% endblock %}
