{% extends 'base.html.twig' %}

{% block title %} Liste des Produits{% endblock %}
{% block head %} {% endblock %}
{% block body %}  
<div class="container">
<div class="row">
    <h1> Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                
                <th>category</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
               
                <td class="category">{% for category in product.category %} 
                {{ category.label }}{{ loop.last ? '' : ',' }} {% endfor %}</td>
                
            
 <td> </td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> <a href="{{ path('product_new') }}">Céer un nouveau produit</a>
</div></div>
   
{% endblock %}
