{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
<div class="container">
<div class="row">
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
           
             <tr>
                <th>Category</th>
                 <td class="">{% for category in product %} 
                {{ category.label }}{{ loop.last ? '' : ',' }} {% endfor %}</td>
            </tr>
            <tr>
                <th>Image</th>
                  
        </tbody>
    </table>
    <div class="col-4">
    <a href="{{ path('product_index') }}" > Retour à la liste </a></div> <br><br>
<div class="col-4">
    <a href="{{ path('product_edit', {'id': product.id}) }}"> Modifier </a> </div>  <br>

    {{ include('product/_delete_form.html.twig') }} 

    </div></div>
{% endblock %}
