<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}My Application
			{% endblock %}
		</title>
		<link rel="stylesheet" type="text/css" href="{{ 'css/simple-sidebar.css' }}"/>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"/>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</head>
	<body>


		<nav class="navbar navbar-dark bg-danger">
			<a class="navbar-brand" href="{{ path('index') }}">
				Accueil
			</a>
			<a class="navbar-brand" href="{{ path('product') }}">
				Produits
			</a>
			<a class="navbar-brand" href="{{ path('recettes') }}">
				Recettes
			</a>
      	<a class="navbar-brand" href="{{ path('astuces') }}">
				Astuces Beauté
			</a>
      	</a>
		  	<a class="navbar-brand" href="{{ path('category') }}">
				Category
			</a>
      	<a class="navbar-brand" href="{{ path('contact') }}">
				Contact
			</a>

			<!-- Navbar content -->
		</nav>


		<div id="content"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
