{% extends 'base.html.twig' %}

{% block title %}Edit Signup{% endblock %}

{% block body %}
    <h1>Edit Signup</h1>

    {{ include('signup/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('signup_index') }}">back to list</a>

    {{ include('signup/_delete_form.html.twig') }}
{% endblock %}
