{% extends 'base.html.twig' %}

{% block title %}Signup index{% endblock %}

{% block body %}
    <h1>Signup index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for signup in signups %}
            <tr>
                <td>{{ signup.id }}</td>
                <td>{{ signup.username }}</td>
                <td>{{ signup.password }}</td>
                <td>
                    <a href="{{ path('signup_show', {'id': signup.id}) }}">show</a>
                    <a href="{{ path('signup_edit', {'id': signup.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('signup_new') }}">Create new</a>
{% endblock %}
