{% extends 'base.html.twig' %}

{% block title %}New Signup{% endblock %}

{% block body %}
    <h1>Create new Signup</h1>

    {{ include('signup/_form.html.twig') }}

    <a href="{{ path('signup_index') }}">back to list</a>
{% endblock %}
