{% extends 'base.html.twig' %}

{% block title %}Signup{% endblock %}

{% block body %}
    <h1>Signup</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ signup.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ signup.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ signup.password }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('signup_index') }}">back to list</a>

    <a href="{{ path('signup_edit', {'id': signup.id}) }}">edit</a>

    {{ include('signup/_delete_form.html.twig') }}
{% endblock %}
