{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
    <h1>Cours</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ cour.id }}</td>
            </tr>
            <tr>
                <th>Cour</th>
                <td>{{ cour.cour }}</td>
            </tr>
            <tr>
                <th>formation</th>
               <td class="formation">{% for formation in cour.formation %} 
                {{ formation.nom }}{{ loop.last ? '' : ',' }} {% endfor %}</td>
            </tr>
               
        </tbody>
    </table>

    <a href="{{ path('cours_index') }}">back to list</a>

    <a href="{{ path('cours_edit', {'id': cour.id}) }}">edit</a>

    {{ include('cours/_delete_form.html.twig') }}
{% endblock %}
